*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

header{
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.4);
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    max-width:700px;
}

.btn{
    margin-top:25px;
    padding:12px 25px;
    background:#2e8b57;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#1f6a40;
}

.secao{
    padding:70px 10%;
    text-align:center;
    background:white;
}

.secao h2{
    color:#2e8b57;
    margin-bottom:20px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:60px 10%;
    background:#eaf5ea;
}

.card{
    background:white;
    padding:25px;
    width:300px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#2e8b57;
    margin-bottom:15px;
}

.banner{
    background:#2e8b57;
    color:white;
    text-align:center;
    padding:60px 20px;
}

footer{
    background:#1f3d1f;
    color:white;
    text-align:center;
    padding:25px;
}   